<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance - repetitions timer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Notification - repetitions timer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>repetitions timer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>repetitions timer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6EB9594A1C32972000F7BE5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EB9595E1C32972000F7BE5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EB959691C32972000F7BE5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EB959721C32972000F7BE5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
